* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 10vh 25vw;
    max-width: 40vw;
    height: auto;
}

.container>img {
    width: 100%;
}

#click-me {
    margin-top: -10px;
    width: 100%;
    min-height: 7vh;
    font-size: 3vh;
    color: white;
    background-image: linear-gradient(to right, orange, rgb(13, 201, 13));
}